@font-face {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirNextLTPro-Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url("https://use.typekit.net/bbt1ezl.css");

:root {
	--card-top-offset: 0px;
	--numcards: 3;
	--outline-width: 0px;
    --padding-left: 120px;
    --padding-right: 120px;
    --marquee-width: 100%;
    --marquee-height: 36px;
    --marquee-elements-displayed: 7;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    align-items: center;
    font-family: 'Conv_AvenirNextLTPro-Regular';
    background-color: #FCFCF0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 118px;
    border-bottom: 1.5px solid #2D2A26;
    background-color: #FCFCF0;
    /*position: fixed;
    top: 0;
    width: 100%;*/
}

main {
    display: block;
    flex: 1 1 auto;
}

footer {
    background-color: #2D2A26;
    color: #FFFFFF;
    height: auto;
}

ul {
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Conv_AvenirNextLTPro-Bold';
    font-weight: 700;
    font-size: 68px;
    margin: 0px 0px 25px 0px;
}

h2 {
    font-family: 'Conv_AvenirNextLTPro-Bold';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin: 0px;
}

p {
    line-height: 27px;
    font-size: 18px;
}

.item-hover {
    cursor: pointer;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.item-hover:hover {
    transform: translateY(-2px);
}

span {
    font-family: 'playfair-display', serif;
    font-style: italic;
}

a {
    text-decoration: none;
}

figure {
    margin-bottom: 0;
}

